<!doctype html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/Features-Minimal-icons.css' %}" />
<link rel="stylesheet" href="{% static 'css/Footer-Basic-icons.css' %}" />
<link rel="stylesheet" href="{% static 'css/Hero-Carousel-images.css' %}" />
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <style>
            .x {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 100px;
            }
            .register-container {
                background: #ffffff;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                max-width: 1000px;
            }
            .form-control {
                margin-bottom: 15px;
            }
            .btn-primary {
                background-color: #005236;
                border-color: #005236;
            }
            .btn-primary:hover {
                background-color: #003d29;
                border-color: #003d29;
            }
        </style>
    </head>
    <body>
        <nav
            id="menu"
            class="navbar navbar-expand-md sticky-top bg-body py-3"
            style="width: 100%; overflow-x: hidden"
        >
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="/"
                    ><span
                        class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"
                        style="background: #ffffff80"
                        ><img
                            src="{% static '/img/Técnica%20sem%20Fronteiras%20LOGO%201%20(Traced).png' %}"
                            style="width: auto; height: 24px" /><svg
                            class="bi bi-bezier"
                            xmlns="http://www.w3.org/2000/svg"
                            width="1em"
                            height="1em"
                            fill="currentColor"
                            viewBox="0 0 16 16"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"
                            ></path>
                            <path
                                d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"
                            ></path></svg></span
                    ><span style="color: #005236">TsF Brasil</span></a
                ><button
                    id="mobile_menu"
                    class="navbar-toggler"
                    data-bs-toggle="collapse"
                    data-bs-target="#navcol-1"
                >
                    <span class="visually-hidden">Toggle navigation</span
                    ><span class="navbar-toggler-icon"></span>
                </button>
                <div id="navcol-1" class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto">
                        <li id="sobre" class="nav-item">
                            <a
                                class="nav-link"
                                href="/sobre"
                                style="color: #005236"
                                >Sobre Nós</a
                            >
                        </li>
                        <li id="prj" class="nav-item">
                            <a
                                class="nav-link"
                                href="/prj"
                                style="color: #005236"
                                >Projetos</a
                            >
                        </li>
                        <li id="eventos" class="nav-item">
                            <a
                                class="nav-link active"
                                href="/eventos"
                                style="color: #005236"
                                >Eventos</a
                            >
                        </li>
                        <li id="voluntariado" class="nav-item">
                            <a
                                class="nav-link"
                                href="/voluntariado"
                                style="color: #005236"
                                >Voluntariado</a
                            >
                        </li>
                        <li id="guia" class="nav-item">
                            <a
                                class="nav-link"
                                href="/guia"
                                style="color: #005236"
                                >Guia Ambiental </a
                            >
                        </li>
                    </ul>
                    {% if user.is_authenticated == False %}
                    <a
                        class="btn btn-primary"
                        href="/login"
                        style="background: #005236; border-style: none"
                        >Log in
                    </a>
                    {% else %}
                    <a
                        class="btn btn-primary"
                        href="/logout"
                        style="background: #005236; border-style: none"
                        >Log out
                    </a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="x">
            <div class="register-container">
                <h2 class="text-center">Login</h2>
                <style>
                    h8 {
                        color: green;
                    }
                </style>
                {% for message in messages %}
                <h8>{{message}}</h8>
                {% endfor %}
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input
                            type="text"
                            class="form-control"
                            id="username"
                            name="username"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            required
                        />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Login
                    </button>
                </form>
                <p class="text-center mt-3">
                    <a href="/recovery" style="color: #005236"
                        >Forgot your password?</a
                    >
                </p>
                <p class="text-center mt-3">
                    <a href="/register" style="color: #005236"
                        >Don't have an account? Sign up</a
                    >
                </p>
            </div>
        </div>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
